@import '../../styles/variables.scss';

.form {
    display: flex;
    gap: 20px;
    padding: 4rem 2rem 2rem;
    background-color: hsl(231, 69%, 60%);
    color: white;
    flex-direction: column;
    margin-inline: -#{$mobile-margin};

    &__counter {
        text-transform: uppercase;
        letter-spacing: .3ch;
    }

    &__title {
        font-weight: 400;
    }

    &__body {
        display: flex;
        gap: 20px;
        flex-direction: column;
        position: relative;
    }

    &__input {
        border: none;
        padding: 20px;
        border-radius: 4px;
        position: relative;
        outline: none;
        box-shadow: none;
        height: 1rem;

        &--error {
            border: 2px solid $lightRed;
            z-index: 2;
        }
    }

    &__error {
      display: block;
      color: white;
      background-color: $lightRed;
      border-radius: .25em;
      position: absolute;
      top: 50px;
      padding-top: 5px;
      padding-left: 10px;
      left: 0;
      right: 0;
      text-align: left;
      z-index: 1;
      font-style: italic;
      font-size: smaller;
    }

    &__button {
        border: none;
        background-color: $lightRed;
        max-height: 1rem;
        box-sizing: content-box;

        &:hover {
            background-color: whitesmoke;
            color: $lightRed;
            outline: 2px solid $lightRed;
        }
    }
}

@media (min-width: $breakpoint) {
    .form {
        padding: 30px;
        height: 300px;
        background-color: $lightBlue;
    
        &__body {
            flex-direction: row;
            align-self: center;
            justify-content: space-evenly;
            width: 50%;
            align-items: center;
        }
    
        &__input {
            width: 400px;
        }
    
        &__error {
          top: 4.5em;
          left: 3em;
          width: 400px;
        }
    }
}