@import '../../styles/variables.scss';

.form {
    display: flex;
    gap: 2rem;
    padding: 4rem 2rem 2rem;
    background-color: hsl(231, 69%, 60%);
    color: white;
    flex-direction: column;

    &__counter {
        text-transform: uppercase;
        letter-spacing: .3ch;
    }

    &__title {
        font-weight: 400;
    }

    &__body {
        // display: flex;
        // gap: clamp(3rem, 20%, 6rem);
        // flex-direction: column;
        // position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        @include mobile-responsive-width;
    }

    &__input {        
            border: none;
            padding: 1.25rem;
            border-radius: 4px;
            position: relative;
            outline: none;
            box-shadow: none;
            min-height: 1rem;
            margin: 0 auto;
            width: 100%;
            box-sizing: border-box;
        // width: clamp(200px, 75%, 500px);

        &-wrapper {
            margin: 0 auto;
            width: 100%;

            &::after { 
                content: "Whoops! Make sure it's an email :)";
                font-size: small;
                background-color: hsl(0, 94%, 66%);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                width: 100%;
                display: flex;
                box-sizing: border-box;
                padding-inline-start: 1.2rem;
            }
        }

        &::placeholder {
            color: $grayish;
        }

        &::after {
            content: 'Content';
            color: white;
            background-color: chartreuse;
        }

        &--error {
            border: 2px solid $lightRed;
            z-index: 2;
        }
    }

    &__error {
      display: block;
      color: white;
      background-color: $lightRed;
      border-radius: .25em;
      position: absolute;
      top: 50px;
      padding-top: 5px;
      padding-left: 10px;
      left: 0;
      right: 0;
      text-align: left;
      z-index: 1;
      font-style: italic;
      font-size: smaller;
    }

    &__button {
        border: none;
        background-color: $lightRed;
        max-height: 1rem;
        box-sizing: border-box;
        padding: 2rem;
        width: clamp(5rem, 20%, 8rem);
        width: 100%;
        // margin: 0 auto;

        &:hover {
            background-color: whitesmoke;
            color: $lightRed;
            outline: 2px solid $lightRed;
        }
    }
}

@media (min-width: $breakpoint) {
    .form {
        padding: 30px;
        height: 300px;
        background-color: $lightBlue;
    
        &__body {
            flex-direction: row;
            gap: 1rem;
            justify-content: right;
            width: clamp(20rem, 50%, 50ch);
            align-self: center;
            margin: 0 auto;
            align-items: center;
        }

        &__button {
            // margin: unset;
        }
    
        &__input {
            // width: clamp(15rem, 75%, 40ch);
        }
    
        &__error {
          width: 400px;
        }
    }
}