@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/animations.scss';

.form {
    display: flex;
    gap: 2rem;
    padding: 4rem 2rem 2rem;
    background-color: $lightBlue;
    color: white;
    flex-direction: column;
    border: transparent;

    &__error-icon {
        position: absolute;
        right: 18px;
        top: 18px;
    }

    &__counter {
        text-transform: uppercase;
        letter-spacing: .3ch;
    }

    &__title {
        font-weight: 400;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 1rem;
        @include mobile-responsive-width;
        width: clamp(300px, 80%, 30rem);
        margin: 0 auto 8rem;
    }

    &__input {
        border: none;
        padding: 1.25rem;
        border-radius: 4px;
        outline: none;
        box-shadow: none;
        min-height: 1rem;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;

        &-wrapper {
            margin: 0 auto;
            transition: border 0.3s ease, outline 0.3s ease;
            border: 0 solid transparent;
            border-radius: 5px;
            width: 100%;
            position: relative;

            &::after {
                content: '\00a0';
                pointer-events: none;
            }

            &--error {
                @include input-message("Whoops! Make sure it's an email :)", $lightRed, white);
                outline: 5px solid $lightRed;
                animation: shake 0.5s ease;
            }

            &--success {
                @include input-message("\1F389 We've received your e-mail! \1F389", olive, goldenrod);
                outline: 5px solid olive;
            }
        }

        &::placeholder {
            color: $grayish;
        }
    }

    &__button {
        border: none;
        background-color: $lightRed;
        box-sizing: border-box;
        max-width: unset;
        width: 100%;
        top: 5rem;

        &:hover {
            background-color: whitesmoke;
            color: $lightRed;
            outline: 2px solid $lightRed;
        }
    }
}

@media (min-width: $breakpoint) {
    .form {
        padding: 30px;
        height: 300px;
        background-color: $lightBlue;

        &__body {
            flex-direction: row;
            gap: 1rem;
            justify-content: right;
            width: clamp(20rem, 50%, 50ch);
            align-self: center;
            justify-content: space-evenly;
            width: 50%;
            align-items: baseline;
        }

        &__button {
            max-width: 8rem;
        }

        &__error {
            width: 400px;
        }
    }
}