.hero {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__header {
        font-weight: 500;
        color: black;
        font-size: 40px;
        line-height: normal;
    }

    &__buttons {
        display: flex;
        gap: 20px;
        justify-content: space-around;
    }

    &__button--light {
        background-color: burlywood;
    }
}