$lightBlue: hsl(231, 69%, 60%);
$lightRed: hsl(0, 94%, 66%);
$grayish: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);
$lightBlueTransparent: rgba(91, 134, 229, 0.5);

$bodyFont: 'Rubik', sans-serif;

$mobile: 375px;
$breakpoint: 1024px;
$desktop: 1440px;

$mobile-margin: 30px;
$desktop-margin: 200px;

$input-height: 1rem;
$input-padding: 1.25rem;

@mixin responsive-width {
    width: clamp(20rem, 50%, 50ch);
    align-self: center;
    margin: 0 auto;
}

@mixin mobile-responsive-width {
    width: clamp(300px, 80%, 20rem);
    align-self: center;
    margin: 0 auto;
}

@mixin input-message($message, $backgroundColor, $color) {
    &::after {
        content: $message;
        font-size: small;
        background-color: $backgroundColor;
        font-style: italic;
        color: $color;
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding-inline-start: 1.2rem;
    }
}
