$lightBlue: hsl(231, 69%, 60%);
$lightRed: hsl(0, 94%, 66%);
$grayish: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);
$lightBlueTransparent: rgba(91, 134, 229, 0.5);

$bodyFont: 'Rubik', sans-serif;
$fontSize: 18px;

$mobile: 375px;
$breakpoint: 1024px;
$desktop: 1440px;

$mobile-margin: 30px;
$desktop-margin: 200px;

$input-height: 1rem;
$input-padding: 1.25rem;