@import '../../styles/variables.scss';
@import '../Modal/Modal.scss';

.features {
    margin-block: 10rem;

    &__link {
        font-size: 20px;
        color: $grayish;
        line-height: normal;
        padding: 20px;
        border-bottom: 1px solid $grayish;
        position: relative;
        cursor: pointer;
        margin: 0 auto;
        width: clamp(300px, 80%, 400px);
        transition: color 0.3s ease-in-out;
    
        &:first-of-type {
            border-top: 1px solid $grayish;
        }

        &:last-of-type {
            margin-bottom: 3rem;
        }

        &:hover {
            color: $lightRed;
        }
    
        &::after {
            content: '';
            max-width: 50%;
            margin: 0 auto;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 3px;
            background-color: $lightRed;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        &--active {
            color: $darkBlue;
            border-color: unset;
        }
    
        &:hover::after,
        &--active::after {
            transform: scaleX(0.5);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        flex-direction: column;
    }

    &__text-area {
        display: flex;
        flex-direction: column;
    }

    &__button {
        display: unset;
    }
}

@media (min-width: $breakpoint) {
    .features {
        margin-block: 6rem;
        text-align: left;
        display: flex;
        flex-direction: column;

        &__top {
            max-width: 50ch;
            width: 100%;
            margin: 0 auto 10rem;
        }

        &__header {
            align-self: center;
            text-align: center;
            max-width: 50ch;
        }

        &__list {
            display: flex;
            flex-direction: row;
            gap: 5em;
            justify-content: center;
            border-bottom: 1px solid $grayish;
            margin-inline: -10rem;
        }
    
        &__link {
            border-bottom: unset;
            text-align: center;
        
            &:first-of-type {
                border-top: unset;
            }

            &:last-of-type {
                margin-bottom: unset;
            }

            &::after {
                max-width: unset;
                min-width: unset;
                scale: 2;
            }
        }
    
        &__content {
            gap: 6rem;
            flex-direction: row;
            justify-content: start;
        }
    
        &__text-area {
            justify-content: center;
            margin-right: 5rem;
            width: 50ch;
            align-items: flex-start;
        }

        &__button {
            display: unset;
        }
    }
}

@media (max-width: $breakpoint) {
    .features__text-area {
        margin: 0 auto;
    }
    
    .features__top {
        margin: 0 auto 6rem;
    }
    
    .features__link {
        width: 80%;
    }
    
    .features p {
        width: clamp(20rem, 70%, 50ch);
    }
    
    .features__link::after {
        max-width: 100%;
    }
}

@container (max-width: 700px) {
    .features {
        text-align: left;
        margin-block: 5rem;
        text-align: center;

        p {
            margin: 20px 0;
        }

        &__top {
            margin: 0;
        }

        &__content {
            flex-direction: column;
            justify-content: space-between;
        }

        &__text-area {
            flex-direction: column;
        }
    }
}

@container (min-width: 700px) {
    .features {
        text-align: left;
        margin-block: 5rem;

        p {
            margin: 20px 0;
        }

        &__top {
            margin: 0;
        }

        &__content {
            flex-direction: unset;
            gap: 10%;
            justify-content: space-between;
        }

        &__text-area {
            flex-direction: column;
            margin-right: 3rem;
        }
    }
}