@import '../../styles/variables.scss';

@container (max-width: 700px) {
    .features__link {
      font-size: 2em;
    }
}

.features {
    padding: 200px 0;

    &__link {
        font-size: 20px;
        color: hsl(229, 8%, 60%);
        line-height: normal;
        padding: 20px;
        border-bottom: 1px solid;
        position: relative;
        cursor: pointer;
    
        &:first-of-type {
            border-top: 1px solid;
        }
    
        &::after {
            content: '';
            position: absolute;
            bottom: -1px; // Położenie tuż pod tekstem
            left: 0;
            right: 0;
            height: 3px; // Grubość kładki
            background-color: $lightRed; // Kolor kładki
            transform: scaleX(0); // Zaczyna niewidoczne
            transition: transform 0.3s ease-in-out; // Animacja rozciągania
        }
    
        &:hover::after,
        &--active::after {
            transform: scaleX(0.5);
        }
    }
}

// @media (min-width: 1000px) {
//     .features h3 {
//         display: inline;
//     }
// }
