.illustration {
    width: 75%;
    background-color: hsl(231, 69%, 60%);
    height: 250px;
    position: relative;
    margin: 0 -30px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  
  &--align-right {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    align-self: flex-end;
  }
  
  &--align-left{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    align-self: flex-start;
  }

}

@media (min-width: 500px) {
  .illustration {
    width: 100%;
  }
}