@import '../../styles/variables';

.illustration {
    width: 75%;
    background-color: $lightBlue;
    height: 250px;
    position: relative;

    img.right {
      position: absolute;
      top: -10%;
      width: clamp(15rem, 100%, 50ch);
      left: -15%;
    }

    img.left {
      position: absolute;
      width: 75%;
      right: 0%;
      top: -15%;
    }
  
  &--align-right {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    align-self: flex-end;
    height: 0;
    padding-top: 50%;
  }
  
  &--align-left{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    align-self: flex-start;
    height: 0;
    padding-top: 60%;
  }

}

@media (min-width: $breakpoint) {
  .illustration {
    width: 50%;
    height: 0;
    padding-top: 35%;
  
    img.right {
      position: absolute;
      top: -10%;
      left: -10%;
    }
  }
}

@container (min-width: 700px) {
  .illustration {
    width: 50%;
    height: 0;
    padding-top: 25%;
    margin: 0;
  }

  img.left {
    position: absolute;
    width: 100%;
    right: -10%;
    top: -20%;
  }
}