@import '../../styles/variables';

.illustration {
    width: 75%;
    background-color: $lightBlue;
    height: 250px;
    position: relative;

    img.right {
      position: absolute;
      top: -10%;
      width: clamp(15rem, 100%, 60ch);
      left: -15%;
    }

    img.left {
      position: absolute;
      width: 75%;
      right: 0%;
      top: -15%;
    }
  
  &--align-right {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    align-self: flex-end;
    height: 0;
    padding-top: 50%;
  }
  
  &--align-left {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    align-self: flex-start;
    height: 0;
    padding-top: 60%;
  }

}

@media (min-width: $breakpoint) {
  .illustration {
    width: 50%;
    height: 0;
    padding-top: 30%;
  
    img.right {
      position: absolute;
      top: -10%;
      left: -10%;
    }

    img.left {
      position: absolute;
      width: 70%;
      right: -5%;
      top: -10%;
    }
  }
}

@container (min-width: 700px) {
  .illustration {
    width: 50%;
    height: 0;
    padding-top: 25%;
    margin: 0;
  }
}

@media (max-width: $breakpoint) {
  .illustration {
    width: 75%;
    background-color: $lightBlue;
    height: 250px;
    position: relative;

    img.left {
      position: absolute;
      width: clamp(5rem, 75%, 30rem);
      right: -3%;
      top: -12%;
    }
  
    &--align-right {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      align-self: flex-end;
      height: 0;
      padding-top: 50%;
      margin-top: 3rem;
    }
    
    &--align-left{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      align-self: flex-start;
      height: 0;
      padding-top: 40%;
    }
  }
}

@keyframes slideInFromLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

.animate-image-left {
  animation: slideInFromLeft 2s ease-out;
}

.animate-image-right {
  animation: slideInFromRight 2s ease-out;
}
