.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (min-width: 768px) {
    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    
        &__cards {
            display: flex;
            flex-direction: row;
            gap: 30px;

            @for $i from 1 through 5 {
                > :nth-child(#{$i + 1}) {
                    margin-top: 2em * $i;
                    margin-bottom: -2em * $i;
                }
            }
        }
    }
}
