@import '../../styles/variables';

.nav {
    padding-inline: $mobile-margin;
    text-align: initial;
    position: relative; // Dodaj to dla pozycjonowania absolutnego hamburgera

    &__logo {
        transform: scale(1.2);
    }

    &__hamburger {
        position: absolute; // Pozycjonuje hamburgera
        top: 50%; // Centruje pionowo
        right: 0; // Odstęp od prawej krawędzi
        transform: translateY(-50%); // Dokładne wycentrowanie
        cursor: pointer; // Doda kursor 'pointer' dla lepszej użyteczności
        z-index: 2;
    }

    &__list {
        list-style-type: none; // Usuwa domyślne style listy
        margin: 0;
        padding: 0;
        display: none; // Domyślnie ukrywa menu
        flex-direction: column; // Elementy listy ułożone pionowo
        align-items: center; // Centruje elementy w poziomie
        position: fixed;
        text-align: center;
        letter-spacing: 2.5px;
        top: 0;
        right: 0;
        height: 100dvh;
        width: 100%;
        background-color: rgba(37, 43, 70, 0.9); // Półprzezroczyste tło
        z-index: 1; // Zapewnia, że lista jest na wierzchu
        transform: translateX(100%); // Początkowo poza ekranem
        transition: transform 0.3s ease; // Animacja przesuwania

    
        &--active {
            display: flex; // Pokazuje menu kiedy jest aktywne
            transform: translateX(0); // Przesuwa menu do widoku
            transition: transform 0.3s ease;
            padding-top: 100px;
        }

    }

    &__item {
        color: white;
        padding: 20px 0;
        width: 370px;
        text-transform: uppercase;
        border-top: 1px solid $grayish;
        cursor: pointer;

        &:last-child {
            padding-top: 30px;
        }
    }

    &__button {
        width: 100%;
        padding-block: 15px;
        text-transform: uppercase;
        font: unset;
        color: unset;
        cursor: unset;
        letter-spacing: unset;
        border-radius: 5px;
        background: none;
        outline: auto;
    }
}

@media (min-width: $breakpoint) {
    .nav {
        padding-inline: $desktop-margin;
        text-align: initial;
        position: unset;
    
        &__logo {
            transform: scale(1.2);
        }
    
        &__hamburger {
            display: none;
        }
    
        &__list {
            list-style-type: none; // Usuwa domyślne style listy
            margin: 0;
            padding: 0;
            flex-direction: column; // Elementy listy ułożone pionowo
            align-items: center; // Centruje elementy w poziomie
            position: fixed;
            text-align: center;
            letter-spacing: 2.5px;
            top: 0;
            right: 0;
            height: 100dvh;
            width: 100%;
            background-color: rgba(37, 43, 70, 0.9); // Półprzezroczyste tło
            z-index: 1; // Zapewnia, że lista jest na wierzchu
            transform: translateX(100%); // Początkowo poza ekranem
            transition: transform 0.3s ease; // Animacja przesuwania
    
        
            &--active {
                display: flex; // Pokazuje menu kiedy jest aktywne
                transform: translateX(0); // Przesuwa menu do widoku
                transition: transform 0.3s ease;
                padding-top: 100px;
            }
    
        }
    
        &__item {
            color: white;
            padding: 20px 0;
            width: 370px;
            text-transform: uppercase;
            border-top: 1px solid $grayish;
            cursor: pointer;
    
            &:last-child {
                padding-top: 30px;
            }
        }
    
        &__button {
            width: 100%;
            padding-block: 15px;
            text-transform: uppercase;
            font: unset;
            color: unset;
            cursor: unset;
            letter-spacing: unset;
            border-radius: 5px;
            background: none;
            outline: auto;
        }
    }
  }