@import '../../styles/variables';
@import '../../styles/animations';

.nav {
    margin-top: 2rem;
    padding-inline: 30px;
    text-align: initial;
    position: relative;

    &__hamburger {
        scale: 1.3;
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 2;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        text-align: center;
        letter-spacing: 2.5px;
        top: 0;
        right: 0;
        height: 100dvh;
        width: 100%;
        background-color: rgba(37, 43, 70, 0.9);
        z-index: 1;

    
        &--active {
            display: flex;
            padding-block: 8rem;
            height: 100vh;
            animation: slideInFromRight 1s ease;
        }
    }

    &__item {
        color: white;
        padding: 20px 0;
        text-transform: uppercase;
        border-top: 1px solid $grayish;
        cursor: pointer;

        &:hover .nav__link {
            color: $lightBlue;
        }

        &:last-child {
            padding-top: 30px;
        }
    }

    &__link {
        color: white;
    }

    &__button {
        width: 100%;
        padding-block: 15px;
        text-transform: uppercase;
        font: unset;
        color: unset;
        cursor: unset;
        letter-spacing: unset;
        border-radius: 5px;
        background: none;
        outline: auto;
    }
}

@media (min-width: $breakpoint) {
    .nav {
        text-align: initial;
        position: unset;
        justify-content: space-around;
        align-items: center;

        &__container {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            padding-bottom: 10%;
            height: 0;
        }
    
        &__logo {
            transform: scale(1.2) translateX(5rem);
            margin-right: 15%;
            margin-left: -10%;
            scale: 1.1;
        }
    
        &__hamburger {
            display: none;
        }
    
        &__list {
            flex-direction: column;
            align-items: center;
            display: contents;
    
        
            &--active {
                padding-top: 6rem;
            }
        }
    
        &__item {
            color: $darkBlue;
            padding: 0;
            width: unset;
            border-top: unset;
            
            &:hover {
                color: $lightRed;
            }

            &:last-child {
                padding-top: unset;
            }
        }

        .nav__item:hover .nav__link {
            color: unset;
        }

        &__link {
            color: unset;
        }
    
        &__button {
            min-width: 10rem;
            color: white;
            background-color: $lightRed;
            outline: none;

            &:hover {
                background: none;
                color: $lightRed;
                outline: 2px solid $lightRed;
            }
        }
    }

    .nav__signup {
        display: none;
    }
  }

@media (max-width: $breakpoint) {
    .nav__container {
        position: relative;
    }

    svg {
        scale: 1.2;
        z-index: 2;
    }

    .nav__item {
        width: 80dvw;
    }

    .nav__hamburger {
        top: 25px;
        right: 5%;
    }

    .nav__button {
        max-width: 60dvw;
    }

    .nav__logo {
        position: absolute;
        left: 15%;
        scale: 1.2;
        top: 5px;
        z-index: 2;
    }
}

.nav__logo--active svg g path {
    fill: white;
    cursor: pointer;
    transition: fill 2s ease;
}

.nav__logo--closing svg g path {
    fill: black;
    transition: fill 2s ease;
}

@media (max-width: $breakpoint) {
    .nav {
        &__item {
            color: white;
            padding: 20px 0;
            text-transform: uppercase;
            border-top: 1px solid $grayish;
            cursor: pointer;
    
            &:hover {
                color: $lightBlue;
                
                .nav__signup {
                    opacity: 1;
                }
            }
    
            &:last-child {
                padding-top: 30px;
                position: relative;

                &:hover button {
                    outline: 2px solid hsl(231, 69%, 60%);
                }
            }
        }
    
        &__button {
            width: 100%;
            padding-block: 15px;
            text-transform: uppercase;
            font: unset;
            color: unset;
            cursor: unset;
            letter-spacing: unset;
            border-radius: 5px;
            background: none;
            outline: auto;
        }

        &__signup {
            position: absolute;
            top: 6rem;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            color: white;
            font-size: small;
        }
    }
}

.nav__list--closing {
    animation: closing 0.5s cubic-bezier(1, 0, 0, 1);
}